@font-face {
    font-family: 'metal_macabreregular';
    src: url('../Fonts/metalmacabre-webfont.eot');
    src: url('../Fonts/metalmacabre-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/metalmacabre-webfont.woff2') format('woff2'),
         url('../Fonts/metalmacabre-webfont.woff') format('woff'),
         url('../Fonts/metalmacabre-webfont.ttf') format('truetype'),
         url('../Fonts/metalmacabre-webfont.svg#metal_macabreregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.navbar-default .navbar-brand {
color: #FFF;
}

.heading {
	background: url(https://farm9.staticflickr.com/8087/8486953370_3c39f233f6_b.jpg) no-repeat;
	height: 500px;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	color: #000000 ;
	font-family: 'metal_macabreregular' ;
	text-align: right;
	padding-top: 4.5em ;
	padding-right: 0.5em ;
	font-size: 3em ;
}

.boutonrouge {
	background-color: #000000 ;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	display: block;
	text-align: center;
	width: 20%;
	margin: 0 auto;
	opacity: 0.8;
}

.navbar-default{
	background-color: #000000 ;
	opacity: 0.9 ;
	border: none ;
	height: 4em ;
}

.navbar-brand{
	color: #FFFFFF ;
	font-family: 'metal_macabreregular', cursive;
	font-size: 2em;
	padding-top: 0.95em ;
}


.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}